<br><br><br>
<div class="cards">
  <mat-card class="example-card">
        
    <img mat-card-image src="assets\kindpng_2199594.png" alt="Photo of a Shiba Inu" height="300px" width="300px">
    <mat-card-content>
      <p>
        <strong>Mobiles</strong> <br>
        Upto 17% off
    </p>
</mat-card-content>
    <mat-card-actions>
      <button mat-button class="button"><h3>Buy Now</h3></button>
    </mat-card-actions>
  </mat-card>
      <mat-card class="example-card">
        
        <img mat-card-image src="assets\pexels-kai-pilger-996329.jpg" alt="Photo of a Shiba Inu" height="300px" width="300px">
        <mat-card-content>
          <p>
            <strong>Fashion</strong> <br>
            Upto 25% off
        </p>
    </mat-card-content>
        <mat-card-actions>
          <button mat-button class="button"><h3>Buy Now</h3></button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        
        <img mat-card-image src="assets\pexels-junior-teixeira-2047905.jpg" alt="Photo of a Shiba Inu" height="300px" width="300px">
        <mat-card-content>
          <p>
            <strong>Electronics</strong><br>
            Upto 10% off
        </p>
    </mat-card-content>
        <mat-card-actions>
          <button mat-button class="button"><h3>Buy Now</h3></button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        
        <img mat-card-image src="assets\Books.jpg" alt="Photo of a Shiba Inu" height="300px" width="300px">
        <mat-card-content>
          <p>
            <strong>Books</strong> <br>
            Upto 20% off
          </p>
    </mat-card-content>
        <mat-card-actions>
          <button mat-button class="button"><h3>Buy Now</h3></button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        
        <img src="assets\Homeware.jpg" alt="Photo of a Shiba Inu" height="300px" width="300px">
        <mat-card-content>
          <p>
            <strong>Homeware</strong> <br>
            Upto 15% off
        </p>
    </mat-card-content>
        <mat-card-actions>
         <button mat-button><h3>Buy Now</h3></button>
        </mat-card-actions>
      </mat-card>
  </div>
