.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
/* .card-table{
    position:relative;
    display:flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border:1px solid rgba(0,0,0,0.2);
} */
.center .btn{
    font-size: 14px !important;
    margin-top:20px;
    font-weight: 400px;
    padding:12px;
    border-radius:3px !important;
}
.cart-product{
    max-width: 500px;
    max-height: 500px;
    margin-left: 40px;
    margin-top: 20px; 
}
ul{
    list-style-type: none;
    display: inline-block;
}
.btn-danger{
    margin-bottom: 10px;
    margin-left: 35px;
    margin-top: 10px;
}
.card-down{
    padding-left: 20px;
}
